/* 
  Since using very simple css, decided to not use SCSS for simplicity
*/

body {
  text-align: center;
  background-color: cadetblue;
}
/* Search bar. Centering and setting size */
.search-input{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
/* Main grid of gifs */
.main-gif-grid {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
/* Popup gif (just the gif) */
.popup-gif {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  cursor: unset;
}
/* Div inside popup which closes the popup */
.popup-close-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 33.3vw;
  background-color: #61dafb;
  cursor: pointer;
}
/* Button inside closing div of popup */
.btn-close {
  display: inline-block;
  cursor: pointer;
}